{{- if .Values.webhook.enable }}
# Service for webhook traffic
apiVersion: v1
kind: Service
metadata:
  name: pac-quota-controller-webhook-service
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: pac-quota-controller
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
      name: webhook-server
    {{- if .Values.metrics.enable }}
    - port: {{ .Values.metrics.port }}
      protocol: TCP
      targetPort: {{ .Values.metrics.port }}
      name: metrics-server
    {{- end }}
  selector:
    app.kubernetes.io/name: pac-quota-controller
    control-plane: controller-manager
{{- end }}
